In [1]:
import pandas as pd
import numpy as np

### Load the attendance.csv file

In [2]:
# Accessing the csv and looking at the data
df = pd.read_csv('attendance.csv')
df

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

### 1. Calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [3]:
# Creating a DF to seperate attendance letters into a column
df = df.melt(id_vars = "Unnamed: 0", var_name = "date", value_name = "score" )
df.head()

  Unnamed: 0        date score
0      Sally  2018-01-01     P
1       Jane  2018-01-01     A
2      Billy  2018-01-01     A
3       John  2018-01-01     P
4      Sally  2018-01-02     T

In [4]:
# Renaming unnamed to student because it is hard to read/look at
df = df.rename(columns={"Unnamed: 0": "student"})
df.head()

  student        date score
0   Sally  2018-01-01     P
1    Jane  2018-01-01     A
2   Billy  2018-01-01     A
3    John  2018-01-01     P
4   Sally  2018-01-02     T

In [5]:
# These are the attendance percentages
day = H = .5
day = T = .9
day = A = 0
day = P = 1
#df

In [6]:
# Creating a DF to get the attendance percents that were given in problem
attendance_percent = df.score.replace("H", .5).replace("T", .9).replace("A", 0).replace("P", 1)
attendance_percent.value_counts()

0.9    14
1.0     9
0.0     6
0.5     3
Name: score, dtype: int64

In [7]:
# Concat the original df with the new one created above
df = pd.concat([df, attendance_percent], axis =1)
df.head()

  student        date  score  score
0   Sally  2018-01-01      P    1.0
1    Jane  2018-01-01      A    0.0
2   Billy  2018-01-01      A    0.0
3    John  2018-01-01      P    1.0
4   Sally  2018-01-02      T    0.9

In [8]:
# We can now create a pivot table and get rid of letter attendance.
df = df.pivot_table(index=["student"], values="score")
df

          score
student
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625

### 2. Coffee Levels

Read the coffee_levels.csv file.
Transform the data so that each carafe is in it's own column.
Is this the best shape for the data?

In [14]:
# Read the coffee_levels.csv file.
c_levels = pd.read_csv("coffee_levels.csv")
c_levels.head()

   hour coffee_carafe  coffee_amount
0     8             x       0.816164
1     9             x       0.451018
2    10             x       0.843279
3    11             x       0.335533
4    12             x       0.898291

In [18]:
c_levels = c_levels.pivot_table("coffee_amount", "hour", "coffee_carafe")
c_levels

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947
13             0.310711  0.997464  0.398520
14             0.507288  0.058361  0.864464
15             0.215043  0.144644  0.436364
16             0.183891  0.544676  0.280621
17             0.391560  0.594126  0.436677

In [ ]:
# Is this the best shape for the data? Yes? I can't see a way to tidy it more up

### 3. Cake Recipes

Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
Tidy the data as necessary.
Which recipe, on average, is the best? recipe b
Which oven temperature, on average, produces the best results? 275
Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [19]:
df = pd.read_csv("cake_recipes.csv")
df.head()

  recipe:position        225        250        275        300
0        a:bottom  61.738655  53.912627  74.414730  98.786784
1           a:top  51.709751  52.009735  68.576858  50.228470
2        b:bottom  57.095320  61.904369  61.196980  99.248541
3           b:top  82.455004  95.224151  98.594881  58.169349
4        c:bottom  96.470207  52.001358  92.893227  65.473084

In [20]:
recipe = df.recipe:position.str.split(":", expand = True)
recipe

SyntaxError: invalid syntax (<ipython-input-20-8d5f3b582f2a>, line 1)