In [1]:
import pandas as pd
import numpy as np

### Load the attendance.csv file

In [ ]:
# Accessing the csv and looking at the data
df = pd.read_csv('attendance.csv')
df

### 1. Calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [ ]:
# Creating a DF to seperate attendance letters into a column
df = df.melt(id_vars = "Unnamed: 0", var_name = "date", value_name = "score" )
df.head()

In [ ]:
# Renaming unnamed to student because it is hard to read/look at
df = df.rename(columns={"Unnamed: 0": "student"})
df.head()

In [ ]:
# These are the attendance percentages
day = H = .5
day = T = .9
day = A = 0
day = P = 1
#df

In [ ]:
# Creating a DF to get the attendance percents that were given in problem
attendance_percent = df.score.replace("H", .5).replace("T", .9).replace("A", 0).replace("P", 1)
attendance_percent.value_counts()

In [ ]:
# Concat the original df with the new one created above
df = pd.concat([df, attendance_percent], axis =1)
df.head()

In [ ]:
# We can now create a pivot table and get rid of letter attendance.
df = df.pivot_table(index=["student"], values="score")
df

### 2. Coffee Levels

Read the coffee_levels.csv file.
Transform the data so that each carafe is in it's own column.
Is this the best shape for the data?

In [1]:
# Read the coffee_levels.csv file.
c_levels = pd.read_csv("coffee_levels.csv")
c_levels.head()

NameError: name 'pd' is not defined

In [ ]:
c_levels = c_levels.pivot_table("coffee_amount", "hour", "coffee_carafe")
c_levels

In [ ]:
# Is this the best shape for the data? Yes? I can't see a way to tidy it more up

### 3. Cake Recipes

Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
Tidy the data as necessary.
Which recipe, on average, is the best? recipe b
Which oven temperature, on average, produces the best results? 275
Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [3]:
df = pd.read_csv("cake_recipes.csv")
df.head()

  recipe:position        225        250        275        300
0        a:bottom  61.738655  53.912627  74.414730  98.786784
1           a:top  51.709751  52.009735  68.576858  50.228470
2        b:bottom  57.095320  61.904369  61.196980  99.248541
3           b:top  82.455004  95.224151  98.594881  58.169349
4        c:bottom  96.470207  52.001358  92.893227  65.473084

In [4]:
recipe = df['recipe:position'].str.split(":", expand = True)
recipe

   0       1
0  a  bottom
1  a     top
2  b  bottom
3  b     top
4  c  bottom
5  c     top
6  d  bottom
7  d     top

In [5]:
recipe.columns = ['recipe', 'position']
recipe

  recipe position
0      a   bottom
1      a      top
2      b   bottom
3      b      top
4      c   bottom
5      c      top
6      d   bottom
7      d      top

In [6]:
df = pd.concat([df, recipe], axis = 1)
df

  recipe:position        225        250        275        300 recipe position
0        a:bottom  61.738655  53.912627  74.414730  98.786784      a   bottom
1           a:top  51.709751  52.009735  68.576858  50.228470      a      top
2        b:bottom  57.095320  61.904369  61.196980  99.248541      b   bottom
3           b:top  82.455004  95.224151  98.594881  58.169349      b      top
4        c:bottom  96.470207  52.001358  92.893227  65.473084      c   bottom
5           c:top  71.306308  82.795477  92.098049  53.960273      c      top
6        d:bottom  52.799753  58.670419  51.747686  56.183110      d   bottom
7           d:top  96.873178  76.101363  59.571620  50.971626      d      top

In [7]:
df = df.drop(columns='recipe:position', axis = 1)
df

         225        250        275        300 recipe position
0  61.738655  53.912627  74.414730  98.786784      a   bottom
1  51.709751  52.009735  68.576858  50.228470      a      top
2  57.095320  61.904369  61.196980  99.248541      b   bottom
3  82.455004  95.224151  98.594881  58.169349      b      top
4  96.470207  52.001358  92.893227  65.473084      c   bottom
5  71.306308  82.795477  92.098049  53.960273      c      top
6  52.799753  58.670419  51.747686  56.183110      d   bottom
7  96.873178  76.101363  59.571620  50.971626      d      top

In [8]:
df.groupby('recipe').mean()

              225        250        275        300
recipe
a       56.724203  52.961181  71.495794  74.507627
b       69.775162  78.564260  79.895930  78.708945
c       83.888258  67.398417  92.495638  59.716678
d       74.836465  67.385891  55.659653  53.577368

In [9]:
df = df.melt(id_vars = ["recipe", "position"], var_name = "temperature", value_name = "grade")
df.head()

  recipe position temperature      grade
0      a   bottom         225  61.738655
1      a      top         225  51.709751
2      b   bottom         225  57.095320
3      b      top         225  82.455004
4      c   bottom         225  96.470207

In [13]:
# Which recipe is the best grade
df.groupby("recipe").grade.mean().nlargest(1)

recipe
b    76.736074
Name: grade, dtype: float64

In [16]:
# Which oven temperature produces the best grade
df.groupby("temperature").grade.mean().nlargest(1)

temperature
275    74.886754
Name: grade, dtype: float64

In [22]:
# What is the best overall combination
df.sort_values(by="grade").tail(1)

   recipe position temperature      grade
26      b   bottom         300  99.248541